{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Share a post
{% endblock title %}

{% block content %}

    {% if sent %}
        <h1>E-mail successfully sent</h1>
        <p>"{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.</p>
    {% else %}
        <h1>Share "{{ post.title }}" by e-mail</h1>
        <form action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <p class="mt-3"><input class="btn btn-success" type="submit" value="Send e-mail"></p>
        </form>
    {% endif %}

{% endblock content %}